{% extends "agent/base.html" %}

{% block content %}
    <table class="table table-hover">
        <tr >
            <td width="256px"><img src="{{agent.avatar(256)}}" alt="avatar"></td>
            <td><h1>Name: {{agent.name}}</h1>
                <h1>Username: {{ agent.username }}</h1>
                {% if agent.contact %}<p>Contact:{{ agent.contact }}</p>{% endif %}
                {% if agent.about_me %}<p>Bio:{{ agent.about_me }}</p>{% endif %}
                {% if agent.last_seen %}<p>Last seen on: {{ agent.last_seen }}</p>{% endif %}
            </td> 
        
        </tr>
    </table>
    {% if agent == current_user %}
    <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
    <p><a href="{{url_for('upload')}}">Upload</a></p>

    {% endif %}
    <hr>
    
    {%include 'agent/_post.html'%}
    
{% endblock %}