{% extends "base.html" %}

{% block content %}
<style>
    /* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="../static/images/photo_2020-07-26_14-53-49.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Hello there welcome to Dunamis_hub.</h1> <br><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="second-slide" src="../static/images/photo_2020-07-26_14-54-34.jpg" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Hello.</h1>
            <p>Do you want to oganize a party,funeral,wedding,cooperate event ? <br> Do you want skilled agents such as photographers,mc's,dj's,ushers,caterers,event organizers for all types of event? </p>
            <p><a class="btn btn-lg btn-primary" href="/client-register" role="button">Sign up now to find them</a></p>
            <br><br><br><br><br><br>
          </div>
        </div>
      </div>
      <div class="item">
        <img class="third-slide boy" src="../static/images/photo_2020-07-26_14-54-42.jpg" alt="Third slide" style="background-color: #00000073;">
        <div class="container">
          <div class="carousel-caption">
            <h1>Hello.</h1>
            <p>Are you a photographer,dj,mc,usher,caterer or an event organizer? <br> Do you want to show the world your skills and get more customers?.</p>
            <p><a class="btn btn-lg btn-primary" href="/agent-register" role="button">Sign up to join us now </a></p>
            <br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->
  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">About Us. <br><span class="text-muted">Dunamis_hub.</span></h2>
        <p class="lead"> Dunamis_hub is a service proder platform. To aviod all the wahala, we provide the services of djs,mcs,ushers,caterers,photographers and event organizers..</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div >
        <h2 class="featurette-heading">Contact Us  </h2><br><span class=" lead">
          <address>
              You can contact us via tell:055XXXXXXX<br>
              You can alos send an email via <a href="www.dunamis_hub@gmail.com">dunamis_hub@gmail.com</a><br>
              You may also want to visit us:<br>
              Dunamis_hub Ghana<br>
              Plot 1212, Tema<br>
              Accra<br>
              Ghana
          </address>
        </span>
      </div>
    </div>

    <hr class="featurette-divider">


{% endblock %}